<h1>All our flats (<%= @flats.count %>)</h1>

<div class="card-container">
  <% @flats.each do |flat| %>
    <div class="card m-2" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.address %></p>
        <div class="container justify-space-between">
          <p><i class="fas fa-user-friends"></i><%= flat.number_of_guests %></p>
          <p><i class="fas fa-pound-sign"></i><%= flat.price_per_night %></p>
        </div>
        <a href="#" >More info</a>
      </div>
    </div>
  <% end %>
</div>
