<h1>All our flats (<%= @flats.count %>)</h1>

<%= @flats.each do |flat| %>
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= flat.name %></h5>
      <p class="card-text"><%= flat.address %></p>
      <p><i class="fas fa-user-friends"></i><%= flat.number_of_guests %></p>
      <p><i class="fas fa-pound-sign"></i><%= flat.price_per_night %></p>
      <a href="#" >More info</a>
    </div>
  </div>
<% end %>
